/* Collapse nodes feature.
   This feature is currently only possible for the mycourses node which is directly supported by this plugin.
   In the 3.3 version of this plugin, this will be done in a more general and lighter way. */
/* Show all second-level nav drawer items which have the attribute not hidden. */
.list-group-item[data-key="mycourses"][data-isexpandable="1"] ~ .list-group-item[data-indent="1"][data-hidden="0"] {
    display: inherit;
}
/* Hide all second-level nav drawer items which have the attribute hidden. */
.list-group-item[data-key="mycourses"][data-isexpandable="1"] ~ .list-group-item[data-indent="1"][data-hidden="1"] {
    display: none;
}
/* Add the icon for the expanded node state. */
.jsenabled .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="0"] > div::after {
    content: url([[pix:i/dropdown]]);
    float: right;
    padding-left: 0.2rem;
}
/* Add the icon for the collapsed node state. */
.jsenabled .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="1"] > div::after {
    content: url([[pix:t/collapsed]]);
    float: right;
    padding-left: 0.2rem;
}
/* Set the cursor for the collapsible nodes. */
.jsenabled .list-group-item[data-key="mycourses"][data-isexpandable="1"] {
    cursor: pointer;
}
