/* stylelint-disable declaration-no-important */
/* stylelint-disable max-line-length */

/* Course nodes feature. */
/* Indent child nodes of the section and activities nodes (this will be overwritten later if the node is made collapsible).
   Setting !important is necessary because otherwise the child nodes' m-l-0 class would overrule our margin. */
.list-group-item[data-parent-key="localboostnavigationcoursesections"] > div,
.list-group-item[data-parent-key="localboostnavigationactivities"] > div {
    margin-left: .25rem !important;
}

/* Custom nodes feature. */
/* Add an indent to the custom child nodes because this isn't possible with Navigation node API.
   Setting !important is necessary because otherwise the child nodes' m-l-0 class would overrule our margin. */
.list-group-item[data-parent-key^="localboostnavigationcustom"] > div {
    margin-left: .25rem !important;
}
/* Add a margin-top to the custom bottom nodes section because this isn't possible with Navigation node API. */
.list-group-item.localboostnavigationfirstcustombuttomusers,
.list-group-item.localboostnavigationfirstcustombuttomadmins {
    margin-top: 1rem;
}
/* Add plugin-specific classes to shrink fa-icons. This is needed for the custom nodes' icons.
   Font-Awesome 5 will contain similar classes officially, but currently Moodle still uses Font-Awesome 4.. */
.local-boostnavigation-fa-xxs {
    font-size: 0.5em !important;
    vertical-align: 25%;
}
.local-boostnavigation-fa-xs {
    font-size: 0.75em !important;
    vertical-align: 12%;
}

/* Collapse nodes feature.
/* Hide all nav drawer items which have the localboostnavigationcollapsedchild class. */
.list-group-item.localboostnavigationcollapsedchild {
    display: none;
}
/* Add the icon for the expanded node state. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent:not(.localboostnavigationcollapsedparent) > div::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 1.2rem;
    position: absolute;
    right: 0.75rem;
    top: 0.55rem;
}
/* Add the icon for the collapsed node state. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent.localboostnavigationcollapsedparent > div::after {
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 1.2rem;
    position: absolute;
    right: 0.75rem;
    top: 0.55rem;
}
/* Make sure that the icon does not overlap with the node text. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent > div {
    padding-right: 1rem;
}
/* Set the cursor for the collapsible nodes. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparent {
    cursor: pointer;
}
/* Remove the indent of the collapsible custom child nodes. */
.jsenabled .list-group-item.localboostnavigationcollapsiblechild > div {
    margin-left: inherit !important;
}
/* Remove the indent of the collapsible custom parent nodes where requested by hiding the icon. */
.jsenabled .list-group-item.localboostnavigationcollapsibleparentforcenoindent .icon {
    display: none;
}

/* Modify mycourses list feature. */
/* Make active filters hint smaller and always non-bold. */
.list-group-item[data-key="localboostnavigationactivefiltershint"] {
    font-size: 80%;
    font-weight: normal;
}
